// FONTS
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;700&display=swap');

// VARIABLES
$main-font-secondary: 'Luckiest Guy', cursive;
$main-font-primary: 'Roboto', sans-serif;
$section-padding: 20px;
$container-width: 960px;

$bg-color: #beb7a4;
$primary-color: #f4f4f4;
$text-color: #333;
